<template>
    <div >
        <h2 >Spørsmål {{(questionNumber)}}</h2>
        <div class="container" v-if="questions[currentQuestion].type == 'multiple'"> 
            <h3 v-html="questions[currentQuestion].question">{{questions[currentQuestion].question}}</h3>
            <div class="row">
                <div class="col mb-5 mt-5" >
                    <button v-html="questions[currentQuestion].incorrect_answers[0]" class="btn btn-outline-primary" @click="falseClick(questions[currentQuestion].incorrect_answers[0])">
                        {{questions[currentQuestion].incorrect_answers[0]}}
                    </button>
                </div>
                <div class="col mb-5 mt-5" >
                    <button v-html="questions[currentQuestion].incorrect_answers[1]" class="btn btn-outline-success" @click="falseClick(questions[currentQuestion].incorrect_answers[1])">
                        {{questions[currentQuestion].incorrect_answers[1]}}
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button v-html="questions[currentQuestion].incorrect_answers[2]" class="btn btn-outline-danger" @click="falseClick(questions[currentQuestion].incorrect_answers[2])">
                        {{questions[currentQuestion].incorrect_answers[2]}}
                    </button>
                </div>
                <div class="col">
                    <button v-html="questions[currentQuestion].correct_answer" class="btn btn-outline-warning" @click="trueClick(questions[currentQuestion].correct_answer)">
                        {{questions[currentQuestion].correct_answer}}
                     </button>
                </div>
            </div>
        </div>
        <div v-if="questions[currentQuestion].type == 'boolean'"> 
            <h3 v-html="questions[currentQuestion].question">{{questions[currentQuestion].question}}</h3>
            <div class="row">
                <div class="col mt-5" >
                    <button @click="falseClick(questions[currentQuestion].incorrect_answers[0])" class="btn btn-outline-primary">
                        {{questions[currentQuestion].incorrect_answers[0]}}
                    </button>
                </div>
                <div class="col mt-5" >
                    <button @click="trueClick(questions[currentQuestion].correct_answer)" class="btn btn-outline-success">
                        {{questions[currentQuestion].correct_answer}}
                    </button>
                </div>
            </div>

            
            
        </div>
            
    </div>

</template>

<script>

import {mapActions, mapMutations, mapState} from "vuex"

export default {
    name: "Questions",
    computed: {
        ...mapState(["numberOfQuestions","difficulty","category", "currentQuestion", "questions"]),
        questionNumber() {
            return this.currentQuestion +1
        }
    },
    methods: {
        ...mapActions(["fetchQuestions"]),
        ...mapMutations(["setCurrentQuestion", "setAnswer","setAnswersContent", "setAnswers"]),
        //Method for when the user clicks on the correct answer
        trueClick(answer) {
            //saves the users answer and that it is correct
            this.setAnswer(this.currentQuestion);
            this.setAnswersContent(answer);
            //checks if it is the last question
            if(this.currentQuestion+1 === +this.numberOfQuestions) {
                //changes to result.vue
                this.$router.push("/result");
            }
            else {
                //increases currentQuestion so the next question is shown
                this.setCurrentQuestion();
            }
        },
        //method for when the user clicks on the wrong answer
        falseClick(answer) {
            //saves the users answer
            this.setAnswersContent(answer);
            //checks if it is the last question
            if(this.currentQuestion+1 === +this.numberOfQuestions) {
                //changes to result.vue
                this.$router.push("/result");
            }
            else {
                //increases currentQuestion so the next question is shown
                this.setCurrentQuestion();
            }
        },
    },
    created() {
        //fetches questions matching th eparameters given on the start page
        this.fetchQuestions();
        //init for the answers array
        this.setAnswers();
    }
}
</script>

<style scoped>
</style>