<template>
    <div class="container">
        <h1>Trivia</h1>
        <div class="container">
            <label>Difficulty</label>
        <select class="form-select mb-5" @change="chooseDifficulty">
            <option v-for="difficultyOption of difficulties" :key="difficultyOption">
            {{ difficultyOption }}
            </option>
        ></select>
        </div>
        <div class="container">
            <div class="input-group mb-5"> 
                <span class="input-group-text">Number of Questions</span>
                <input class="form-control" @input="chooseNumberOfQuestions" type="number" placeholder="1">
            </div>
        </div>
        <div class="container mb-5">
            <select class="form-select" @change="chooseCategory">
                <option v-for="categoryOption of categories" :key="categoryOption.id" :value="categoryOption.id">
                    {{ categoryOption.name }}
                </option>
            ></select>
        </div>             
        <button class="btn btn-primary" @click="onStartClick">Start</button>
    </div>
</template>

<script>

import { mapState, mapMutations, mapActions} from "vuex"


export default {
    name: "Start",
    computed: {
        ...mapState(["numberOfQuestions","difficulty","category","difficulties","categories"])
    },
    methods: {
        ...mapMutations(["setDifficulty", "setAnswers","setQuestions","setNumberOfQuestions","setCategory"]),
        ...mapActions(["fetchCategories"]),
        //method for handling changes in the difficulty select tag
        chooseDifficulty(event) {
            //sets the difficulty in store to the value chosen by the user
            this.setDifficulty(event.target.value.trim());
        },
        //method for handling changes in the numberOfquestions input tag
        chooseNumberOfQuestions(event) {
        //sets the numberOfQuestions in store to the value chosen by the user
            this.setNumberOfQuestions(event.target.value.trim());
        },
        //method for handling changes in the category select tag
        chooseCategory(event) {
            //sets the category in store to the value chosen by the user
            this.setCategory(event.target.value.trim());
        },
        //method that changes to Questions.vue when the game start button is clicked
        onStartClick() {
            this.$router.push("/questions");
        }
    },
    created() {
        //Fills the category array from API so the user can select a category
        this.fetchCategories();
    }
}
</script>

<style scoped>

</style>