<template>
    <div>
        <h1>Score: {{score}}/{{numberOfQuestions*10}}</h1>
        <ol class="list-group">
            <li class="list-group-item" v-for="(question,index) in questions" :key="index">
                <p>{{question.question}}</p>
                <p>Correct answer: {{question.correct_answer}}</p>
                <p>Your answer: {{answersContent[index]}}</p>
            </li>
        </ol>
        <button class="btn btn-primary" @click="startClick">Back to start</button>
        <button class="btn btn-secondary" @click="tryAgainClick">Try again</button>
    </div>
</template>

<script>

import {mapActions, mapMutations, mapState} from "vuex"

export default {
    name: "Result",
    computed: {
        ...mapState(["numberOfQuestions","questions","answers","answersContent","score"])
    },
    methods: {
        ...mapActions(["createScore"]),
        ...mapMutations(["setCurrentQuestion","resetAnswersContent"]),
        //method for when the user clicks play again
        tryAgainClick() {
            //resets answers and current question
            this.setCurrentQuestion();
            this.resetAnswersContent();
            //changes back to questions.vue
            this.$router.push("/questions");
            
        },
        //method for when the user clicks the back to start button
        startClick() {
            //resets answers and current question
            this.setCurrentQuestion();
            this.resetAnswersContent();
            //changes to start.vue
            this.$router.push("/");
        }
    },
    created() {
        //method for creating the score
        this.createScore();
    }
}
</script>

<style scoped>